body {
    background-image: url('background/1.PNG'); /* Ganti sesuai lokasi gambar */
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: white;
  }
  